/* Container for the two boxes */
.two-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25rem;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
  position: relative;
  transition: filter 0.5s ease, opacity 0.5s ease;
}

.two-box-container.blur {
  filter: blur(50px);
  opacity: 0;
}

/* Styles for individual boxes */
.two-box-box {
  background-color: lightgray;
  border-radius: 15px;
  height: 500px;
  padding: 10px;
  flex: 300px;
  max-width: 48%;
  box-sizing: border-box;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
}

/* Media queries for responsive design */
@media (max-width: 800px) {
  .two-box-box {
    max-width: 100%;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    margin-top: 5rem;
  }
}

@media (max-width: 600px) {
  .two-box-box {
    max-width: 100%;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    margin-top: 5rem;
  }
}

@media (max-width: 650px) and (min-width: 600px) {
  .two-box-box {
    max-width: 100%;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    margin-top: 5rem;
  }
}

/* Styles for the first box */
.first-box {
  position: relative;
  margin-left: 0.9rem;
  background: none;
  overflow: hidden;
  border-color: #0000001e;
  border-style: solid;
  border-width: 1px;
}

.first-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../img/grad1.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: filter 0.3s ease;
}

.first-box:hover::before {
  filter: blur(50px);
}

/* Apply hover effect to the button inside the first box */
.first-box:hover .box-button1 {
  background-color: black;
  color: white;
}

/* Styles for the second box */
.second-box {
  position: relative;
  margin-left: 0.9rem;
  background: none;
  overflow: hidden;
  border-color: #0000001e;
  border-style: solid;
  border-width: 1px;
}

.second-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../img/grad1.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  transition: filter 0.3s ease;
}

.second-box:hover::before {
  filter: blur(50px);
}

/* Apply hover effect to the button inside the second box */
.second-box:hover .box-button2 {
  background-color: black;
  color: white;
}

/* Content wrapper inside the boxes */
.box-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Content inside the boxes */
.box-content {
  font-family: "text";
  color: black;
  font-size: 2.5rem;
  text-align: center;
  margin: 0; /* Remove default margin */
  width: 100%; /* Ensure the text spans the full width of the content wrapper */
}

/* Styles for the buttons */
.box-button1,
.box-button2 {
  font-family: "mono";
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(255, 255, 255, 0.241);
  border-radius: 12px;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: absolute;
  top: 320px;
  color: initial; /* Initial color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition for smooth effect */
}
