* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  background-color: white;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #b3b3b3;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.hero-section {
  position: relative;
  width: 100%;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
}