.box1 { background-color: #ececec; }
.box2 { background-color: #e0e0e0; }
.box3 { background-color: #d4d4d4; }
.box4 { background-color: #c7c7c7; }
.box5 { background-color: #bbb; }
.box6 { background-color: #afafaf; }

.box {
  border-radius: 12px;
  position: relative;
  padding: 16px;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding-bottom: calc(404 / 323 * 100%);
  min-width: 323px; 
  animation: fadeIn 0.6s ease both;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.top-left-title {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.766);
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.top-right-circle {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.766);
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.top-right-circle {
  position: absolute;
  top: 16px;
  right: 16px;
}

:root {
  --black: #000000;
}
.home_project_client_svg__fDBaR {
  display: flex;
  border-radius: 1000px;
  width: fit-content;
  padding: 6px;
  background-color: var(--gray);
}

.home_project_client_svg__fDBaR > svg {
  position: relative;
  overflow: hidden;
}

.home_project_client_svg__fDBaR > svg > * {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.25, 1);
}

.home_svg_2__kvwmY,
.home_svg_3__ax8LJ {
  display: flex;
  position: absolute;
}

.home_svg_2__kvwmY {
  transform: translate(-100%, 100%);
}

.home_svg_3__ax8LJ {
  transform: translate(-200%, 200%);
}

.home_project_client_svg__fDBaR:hover > svg > .home_svg_1__5T6WY {
  transform: translate(200%, -200%);
}

.home_project_client_svg__fDBaR:hover > svg > .home_svg_2__kvwmY {
  transform: translate(100%, -100%);
}

.home_project_client_svg__fDBaR:hover > svg > .home_svg_3__ax8LJ {
  transform: translate(0);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
