.box {
  border-radius: 12px;
  position: relative;
  margin: 0px;
  padding: 16px;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding-bottom: calc(404 / 323 * 100%);
  min-width: 323px; 
  transition: transform 0.3s ease;
}

.box:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.top-right-circle {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_project_client_svg__fDBaR {
  display: flex;
  border-radius: 1000px;
  width: fit-content;
  padding: 6px;
  background-color: var(--gray);
}

.home_project_client_svg__fDBaR > svg {
  position: relative;
  overflow: hidden;
}

.home_project_client_svg__fDBaR > svg > * {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.25, 1);
}

.home_svg_2__kvwmY,
.home_svg_3__ax8LJ {
  display: flex;
  position: absolute;
}

.home_svg_2__kvwmY {
  transform: translate(-100%, 100%);
}

.home_svg_3__ax8LJ {
  transform: translate(-200%, 200%);
}

.box:hover .home_project_client_svg__fDBaR > svg > .home_svg_1__5T6WY {
  transform: translate(200%, -200%);
}

.box:hover .home_project_client_svg__fDBaR > svg > .home_svg_2__kvwmY {
  transform: translate(100%, -100%);
}

.box:hover .home_project_client_svg__fDBaR > svg > .home_svg_3__ax8LJ {
  transform: translate(0);
}