/* Buttons at the top of the website */

.main-button-container {
display: flex;
gap: 1vw;
flex-wrap: wrap; 
width: 100%; 

box-sizing: border-box; 
justify-content: flex-start; 
}

.main-button {
border: none;
border-radius: 12px;
padding: 5px 10px;
background-color: #c1c1c1;
color: #000000;
font-size: 18px;
cursor: pointer;
opacity: 0.95;
text-align: center;
}

.main-button:hover {
background-color: #464646;
color: #8b8b8b;
}

/* Smaller buttons in the other sections */

.small-button-container {
display: flex;
gap: 1vw;
flex-wrap: wrap;
width: 100%;
padding: 1rem 0;
box-sizing: border-box;
justify-content: left;
}

.small-button {
border: 1px solid #f4a625;
color: #f4a625;
background-color: #000000;
opacity: 0.95;
padding: 3px 9px;
border-radius: 30px;
font-size: 12px;
cursor: pointer;
text-align: center;
}

