/* buttons.css */

/* Main Button */
.button {
    color:#000000;
    text-decoration: none;
    padding: 1px 8px;
    border-radius: 10px;
    margin: 5px 0;
    display: inline-block;
    cursor: pointer;
    border-color: #000000;
    border-style: solid;
    border-width: 1.5px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
  }
  
  .button span {
    display: inline-block;
    transition: all 0.5s;
  }
  
  /* Hover Effect */
  .button:hover {
    animation: blurText 0.5s;
  }
  
  @keyframes blurText {
    0% {
      filter: blur(0);
    }
    50% {
      filter: blur(4px);
    }
    100% {
      filter: blur(0);
    }
  }
  
  .button-row {
    text-align: center;
    margin-top: -3rem;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    gap: 1rem; /* Optional: space between buttons */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    max-width: 450px; /* Set max width */
    margin: 0 auto; /* Center the button row */
  }