/**/

.button {
  font-size: min(max(60px, 5vw), 120px);
  font-family: 'Inter Display', sans-serif;
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding: 16px;
  color: transparent;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text; 
  cursor: pointer;
  transition: transform 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); 
}

.button:hover {
  transform: scale(1.01); 
}

#about-button {
  background-image: url('../assets/cd9290050483b560e3b6cc91e6584a96-Landscape near Antwerp.avif'); 
}

#system-button {
  background-image: url('../assets/GZ-XaEIXgAARlbp.jpeg'); 
}

#work-button {
  background-image: url('../assets/Caspar_David_Friedrich_-_Wanderer_above_the_Sea_of_Fog.jpeg'); 
}

.button:hover {
  transform: scale(1.01);
}

.top-right-box {
  position: absolute;
  top: 8px;
  right: -20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_project_client_svg__fDBaR {
  display: flex;
  border-radius: 5px;
  width: fit-content;
  background: rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(10px);
  padding: 6px;
}

.home_project_client_svg__fDBaR > svg {
  position: relative;
  overflow: hidden;
}

.home_project_client_svg__fDBaR > svg > * {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.25, 1);
}

.home_svg_2__kvwmY,
.home_svg_3__ax8LJ {
  display: flex;
  position: absolute;
}

.home_svg_2__kvwmY {
  transform: translate(-100%, 100%);
}

.home_svg_3__ax8LJ {
  transform: translate(-200%, 200%);
}

.button:hover .home_project_client_svg__fDBaR > svg > .home_svg_1__5T6WY {
  transform: translate(200%, -200%);
}

.button:hover .home_project_client_svg__fDBaR > svg > .home_svg_2__kvwmY {
  transform: translate(100%, -100%);
}

.button:hover .home_project_client_svg__fDBaR > svg > .home_svg_3__ax8LJ {
  transform: translate(0);
}
