
@font-face {
font-family: 'dot';
src: url('/fonts/dot.otf') format('openType');
}

@font-face {
font-family: 'book';
src: url('/fonts/book.woff2') format('woff2');
}

.site-header {
    font-family: 'dot', sans-serif;
}

.site-main .content {
    font-family: 'book', sans-serif;
  }

