@font-face {
    font-family: 'dot';
    src: url('/fonts/dot.otf') format('openType');
  }

@font-face {
  font-family: 'text';
  src: url('/fonts/text.otf') format('openType');
}

@font-face {
  font-family: 'dot';
  src: url('/fonts/dot.otf') format('openType');
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

h1 {
  -webkit-font-smoothing: antialiased;
  font-family: 'dot';
  letter-spacing: -2.5px;
}

p {
  -webkit-font-smoothing: antialiased;
  font-family: 'text';
  letter-spacing: -0.32px;
  line-height: 32px;
  font-weight: 400; /* Removed px unit from font-weight */
  text-align: center;
  font-size: 1.1rem;
  display: block;
  max-width: 450px;
  margin: 0 auto; /* Centering the paragraph */
}


.button {
  -webkit-font-smoothing: antialiased;
  font-family: 'text';
}

a {
  text-decoration: none;
  color: black;
}