/* Base styles for consistent look */
html {
  font-size: 16px; /* This will be used to calculate rem units */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Full height to center vertically */
}

/* Container setup to ensure content scales with viewport */
header, footer {
  padding: 2rem 0; /* Adjust padding to only top and bottom */
  width: 100%;
  text-align: center;
}

header {
  max-width: 50%;
  text-align: justify;
}

/* Ensuring the h1 is centered vertically and horizontally */
a h1 {
  font-size: 4rem; /* Relative to the root font-size */
  text-align: center;
  margin: 0; /* Remove default margin */
  position: absolute; /* Use absolute positioning */
  top: 50%; /* Move to the middle of the screen */
  left: 50%; /* Move to the middle of the screen */
  transform: translate(-50%, -50%); /* Offset to truly center */
}

/* Responsive layout */
@media (min-width: 600px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 20px;
  }
}
