.hero-section { 
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 4px;
  border-radius: 20px;
}

.text-left {
  margin-left: 16px;
  font-size: clamp(16px, 2vw, 20px); /* Minimum 16px, Maximum 20px */
  font-family: 'Inter Display', sans-serif;
  font-weight: 200;
  color: rgb(98, 98, 98);
}

.text-right {
  margin-right: 16px;
  text-align: right;
  font-size: clamp(12px, 1.5vw, 16px); /* Minimum 12px, Maximum 16px */
  font-family: 'Inter Display', sans-serif;
  font-weight: 200;
  color: rgb(98, 98, 98);
}
