.button-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
}

.hero-section {
  position: relative;
  width: 100%;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
}