/* Fonts */
@font-face {
  font-family: 'nhgt';
  src: url('/fonts/nhgt.TTF') format('truetype');
}

@font-face {
  font-family: 'nhgm';
  src: url('/fonts/nhgm.TTF') format('truetype');
}

/* Main Page */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 13px;
  font-family: 'nhgt';
}

/* Main Body */
body {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Main Container - Creates the narrow container*/
.container {
  text-align: left;
  width: 100%;
  max-width: 375px;
  position: relative;
}

/* Main Button */
.button {
  color: black;
  text-decoration: none;
  padding: 4px 9px;
  border-radius: 9px;
  font-family: 'nhgt';
  font-size: 12px;
  margin: 5px 0;
  display: inline-block;
  transition: transform 0.3s ease, background-color 0.3s ease;
  visibility: hidden;
  animation: dropdownFadeIn 0.5s ease-out forwards;
}

/* Main Button Hover */
.button:hover {
  background-color: #000000;
  transform: translateY(-2px) !important;
}

/* Main Button Animation */
@keyframes dropdownFadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
      visibility: hidden;
  }
  to {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
  }
}

/* Highlight Color */
::selection {
  background-color: #e0e0e0;
  color: black;
}

/* Read More Button */
.more-text {
  display: none;
}

/* Read More Button */
.read-more {
  color: #afaeae;
  cursor: pointer;
  text-decoration: underline;
}

/* Fade-In Text */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Fade-In Text */
.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.more-text {
  display: none;
}

.show {
  display: inline;
  animation: fadeIn 2s ease-in-out;
}