@font-face {
  font-family: 'SctoGroteskA';
  src: url('../fonts/SctoGroteskA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PPSupplyMono-Regular';
  src: url('../fonts/PPSupplyMono-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PPSupplyMono-Ultralight';
  src: url('../fonts/PPSupplyMono-Ultralight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: 'SctoGroteskA', sans-serif;
  color: #030303;
}

#header {
  position: sticky;
  top: 0;
  background-color: transparent; /* Make the header background transparent */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
}

#logo {
  flex: 1; /* Takes up available space on the left */
  text-align: left;
  font-size: 1.9px;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 2px;
  color: #888888;
}

#username {
  flex: 1; /* Takes up available space in the center */
  text-align: center;
  font-family: 'PPSupplyMono-Ultralight', monospace;
  font-size: 16px; 
  color: #888888;
  letter-spacing: 1px;
}

#contact-info {
  flex: 1; /* Takes up available space on the right */
  text-align: right;
  font-family: 'PPSupplyMono-Ultralight', sans-serif;
  font-size: 16px;
  color: #888888;
  letter-spacing: 1px;
}


#content {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px; 
}

#content p {
  font-family: 'PPSupplyMono-Regular', monospace;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 800px;
}

#lorem {
  font-family: 'SctoGroteskA', sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 100px 20px;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
}

#subtitle {
  font-family: 'PPSupplyMono-Regular', sans-serif;
}
